body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.title{
  text-align: center;
  font-weight: light;
  color: #324057;
  font-size: 20px;
  padding: 20px 0;
  border-bottom: solid 1px #F0F0F0;
}

.hint{
  color:#888;
  text-align: center;
  padding: 30px 0 20px 0;
  font-size: 14px;
}

.set{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #13CE66;
}

.cancel{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #FF4949;
}

.pending{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #F7BA2A
}

.currentState{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: solid 1px #F0F0F0;
  margin-bottom: 30px;
}

.currentState .text{
  font-size: 20px;
  margin-left: 10px;
  color:#475669;
  font-weight: bold;
}

.button-box {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.el-message-box{
  width: 80vw !important;
}